.avatar {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: calc(var(--pc-h) * 0.75);
  height: calc(var(--pc-h) * 0.75);

  pointer-events: none;
}

