.menu {
  /* main grid layout */
  grid-area: menu;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  button {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }

  img {
    /* 32px icon, 44px tap target */
    width: 44px;
    height: 44px;
    padding: 6px;
    cursor: pointer;
  }
}
