.board {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;

  // background-image: url('./assets/mars-map.jpg');
  // background-image: url('./moon-surface.png');

  &__row {
    display: flex;
    position: relative;

    width: -moz-fit-content;
    width: fit-content;

    // collapse rows
    &:nth-child(2) {
      top: -20px;
    }

    &:nth-child(3) {
      top: -20px * 2;
    }

    &:nth-child(4) {
      top: -20px * 3;
    }

    &:nth-child(5) {
      top: -20px * 4;
    }

    &:nth-child(6) {
      top: -20px * 5;
    }

    &:nth-child(7) {
      top: -20px * 6;
    }

    // ---


    &--1-to-equator {
      left: 60px; // FIXME
    }

    &--2-to-equator {
      left: 60px * 2;
    }

    &--3-to-equator {
      left: 60px * 3;
    }
  }

  border: 1px solid red;
}
