// FIXME: this is absolutly manual, there should be a better way of solving this.
$collapse-rows: -26px;
$row-left-space: 60px;

.board {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 688px; // FIXME why doesn't fit-content work?

  &__row {
    display: flex;
    position: relative;

    width: -moz-fit-content;
    width: fit-content;

    // collapse rows
    &:nth-child(2) {
      top: $collapse-rows;
    }

    &:nth-child(3) {
      top: $collapse-rows * 2;
    }

    &:nth-child(4) {
      top: $collapse-rows * 3;
    }

    &:nth-child(5) {
      top: $collapse-rows * 4;
    }

    &:nth-child(6) {
      top: $collapse-rows * 5;
    }

    &:nth-child(7) {
      top: $collapse-rows * 6;
    }

    // move rows to the right
    &--1-to-equator {
      left: $row-left-space;
    }

    &--2-to-equator {
      left: $row-left-space * 2;
    }

    &--3-to-equator {
      left: $row-left-space * 3;
    }
  }

  border: 1px solid red;
}
