$available-tile: rgba(195, 214, 191, 0.5);
$forbidden-tile: rgba(190, 88, 88, 0.5);
$tile-border: black;

.tile {
  display: flex;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0;
  justify-content: center;
  align-items: center;

  &__id {
    margin: auto;

  }

  &__terrain {
    position: absolute;
    stroke: #5f5858;
    stroke-width: 3px;

    &--forest {
      top: 15%;
      left: 15%;

      width: 80px;
      height: 80px
    }

    &--lake {
      top: 5%;
      left: 5%;
      width: 110px;
      height: 110px
    }
  }


  &__hexagon {
    position: absolute;
    width: 120px; // needed when changed from CRA to Vite
    height: 120px; // needed when changed from CRA to Vite

    path {

      fill: none;
      stroke: $tile-border;
      stroke-width: 6px;
    }

    &--selected {
      path {
        fill: rgba(255, 248, 174, 0.179);
      }
    }

    &--available {
      path {
        fill: $available-tile;
      }
    }

    &--forbidden {
      path {
        fill: $forbidden-tile;
      }
    }
  }


  .pointer-area {

    /* inner area */
    &::before {
      content: '';
      position: absolute;
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%;

      cursor: pointer;

      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

      // debug
      // background-color: rgba(255, 0, 0, 0.292);
    }
  }

  // center
  &__content {


    display: flex;

  }
}
