.current-phase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  &__heading {
    display: flex;
    flex: 1;
    max-height: 10%;
    align-items: center; // center Y

    border-bottom: 1px solid #ccc;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 90%;
    justify-content: center;

    &__planification {}

    &__action {}
  }
}

.card-silhouette {
  margin: 10px; // FIXME
}
