@use '/src/styles/colors.scss';

$forbidden-tile: rgba(190, 88, 88, 0.5);

$horizontal-padding: 5px;

.tile {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0 $horizontal-padding;

  display: flex;
  justify-content: center;
  align-items: center;

  /* debug: turn on at tile.tsx */
  &__id {
    position: absolute;
    font-size: larger;
    background-color: white;
    z-index: 1;
  }

  &__content {}

  &__terrain {
    position: absolute;
    stroke: #5f5858;
    stroke-width: 3px;

    &--forest {
      top: 15%;
      left: 15%;

      width: 80px;
      height: 80px
    }

    &--lake {
      top: 5%;
      left: 5%;
      width: 110px;
      height: 110px
    }
  }

  &__building {
    width: 90px;
    height: 90px;

    position: absolute;
    bottom: 5px; // building in the bottom

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    &--player {
      background-image: url('./assets/castle--player.png');
    }

    &--enemy1 {
      background-image: url('./assets/castle--enemy1.png');
    }

    &--enemy2 {
      background-image: url('./assets/castle--enemy2.png');
    }

    &--enemy3 {
      background-image: url('./assets/castle--enemy3.png');
    }
  }

  &__hexagon {
    position: absolute;

    path {
      fill: none;
    }

    &--selected {
      path {
        fill: colors.$selected-tile;
        stroke: colors.$dark-grey;
        stroke-width: 3px;
      }

      &-player {
        path {
          stroke: colors.$player-primary;
        }
      }

      &-enemy1 {
        path {
          stroke: colors.$enemy1-primary;
        }
      }

      &-enemy2 {
        path {
          stroke: colors.$enemy2-primary;
        }
      }

      &-enemy3 {
        path {
          stroke: colors.$enemy3-primary;
        }
      }
    }

    &--available {
      &-player {
        path {
          stroke: colors.$player-primary;
        }
      }

      &-enemy1 {
        path {
          stroke: colors.$enemy1-primary;
        }
      }

      &-enemy2 {
        path {
          stroke: colors.$enemy2-primary;
        }
      }

      &-enemy3 {
        path {
          stroke: colors.$enemy3-primary;
        }
      }
    }

    &--forbidden {
      path {
        fill: $forbidden-tile;
      }
    }

    &__clickable-area {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

      // debug
      // background-color: rgba(255, 0, 0, 0.292);

      // FIXME: this is absolutly manual, there should be a better way of solving this.
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      // ---
    }
  }

}
