@use '/src/styles/colors.scss';
@use '/src/styles/fonts.scss';

.timeline {
  height: 92px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; // single line

  &__next {
    flex-grow: 3;
    background-color: colors.$base-grey;
  }

  &__future {
    flex-grow: 2;
    background-color: colors.$dark-grey;
  }

  &__section {
    position: relative;
    display: flex;
    padding: 0 20px 0 80px;
    border-radius: 0px 0px 12px 12px;

    &__name {
      position: absolute;
      top: 24px;
      left: 12px;

      @include fonts.heading();
    }

    &__line {
      width: 100%;
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-around;

      // black line
      &::before {
        content: '';
        height: 0px;
        width: 100%;

        position: absolute;
        top: 55px; // from timeline__section

        border-top: 2px solid black;
      }
    }
  }

}
