@use '/src/styles/fonts.scss';
@use '/src/styles/shadows.scss';
@use '/src/styles/colors.scss';

.card-silhouette {
  width: 180px;
  height: 280px;
  padding: 36px 24px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  border: 3px dashed #ADB5BD;
  border-radius: 16px;
  background: #FFFFFF;

  &__title {}

  &__text {}
}
