@use '/src/styles/colors.scss';

@mixin action-icn($action) {
  background-image: url('./assets/' + $action + '-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &--player {
    div {
      outline: 3px solid colors.$player-highlight;
    }
  }

  &--enemy1 {
    div {
      outline: 3px solid colors.$enemy1-highlight;
    }
  }

  &--enemy2 {
    div {
      outline: 3px solid colors.$enemy2-highlight;
    }
  }

  &--enemy3 {
    div {
      outline: 3px solid colors.$enemy3-highlight;
    }
  }

  &__image {
    width: 60px;
    height: 60px;
    border: 3px solid colors.$dark-grey;
    border-radius: 50%;

    &--build {
      @include action-icn('build');
    }

    &--diplo {
      @include action-icn('diplo');
    }

    &--move {
      @include action-icn('move');
    }

    &--recruit {
      @include action-icn('recruit');
    }
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 6px;
  }

}
