.marketplace {
  /* main grid layout */
  grid-area: marketplace;

  border: 2px solid var(--base-grey);

  position: relative;

  &::before {
    position: absolute;
    content: "MARKETPLACE";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
