// --playerColor
@keyframes glow {
  0% {
    box-shadow: 0 0 3px var(--playerColor), 0 0 6px var(--playerColor);
  }
  50% {
    box-shadow: 0 0 12px var(--playerColor), 0 0 24px var(--playerColor);
  }
  100% {
    box-shadow: 0 0 3px var(--playerColor), 0 0 6px var(--playerColor);
  }
}
