$player-highlight: #ffea4b;
$enemy1-highlight: #b30000;
$enemy2-highlight: #7949bd;
$enemy3-highlight: #3c9120;

$dark-grey: rgb(88, 88, 88);

$shadow-grey: rgba(0, 0, 0, 0.25);

$selected-grey: rgba(0, 0, 0, 0.05)
