$player-primary: #FFCA3A;
$player-secondary: #FFE9AD;

$enemy1-primary: #FF595E;
$enemy1-secondary: #FFC2C4;

$enemy2-primary: #6A4C93;
$enemy2-secondary: #9E86C1;

$enemy3-primary: #8AC926;
$enemy3-secondary: #C3E887;

$base-grey: #CED4DA;
$dark-grey: #ADB5BD;
$darkest-grey: #3f4347;
$selected-tile: #fff8ae1e;

// ---

/* used as box shadows */
$shadow-grey: #00000040;

/* TODO: check with Leyre */
$selected-grey: rgba(0, 0, 0, 0.05)
