:root {
  --player-primary: #ffca3a;
  --player-secondary: #fbf3da;

  --enemy1-primary: #ff595e;
  --enemy1-secondary: #fdebec;

  --enemy2-primary: #6a4c93;
  --enemy2-secondary: #ccc3d7;

  --enemy3-primary: #8ac926;
  --enemy3-secondary: #e0e9cf;

  --ligh-grey: #0000000d;
  --base-grey: #ced4da;
  --dark-grey: #adb5bd;
  --darkest-grey: #3f4347;

  --selected-tile: #fff8ae1e;
  --white: #fffffa;

  --shadow-grey: #00000040;
}
