.card {
  /* anchor */
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 22vh;
  height: 33vh;
  padding: 2vh;
  background: var(--white);
  margin: 1vh;
  box-shadow: 0vh 0vh 0.5vh var(--shadow-grey);
  border-radius: 16px;
}

.card.played {
  & > * {
    /* to every children */
    opacity: 0.3;
  }
  box-shadow: 0vh 0vh 0.4vh var(--light-grey);
}

.card.selected {
  background-color: red;
}

.card.available {
  cursor: pointer;
}

.card.silhouette {
  border: 2px dashed var(--base-grey);
  box-shadow: none;
}

/* *** */

.heading {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.icon {
  width: 10vh;
  height: 7.5vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  text-transform: uppercase;
}

.text {
  z-index: 1;
}

.waterMark {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
