.playerInventory {
  /** main grid layout */
  grid-area: player-inventory;

  background-color: var(--lightest-grey);
  padding: 20px;
  border-radius: 8px;
}

/* placeholder: no room for it in the portrait layout yet */
@media (orientation: portrait) {
  .playerInventory {
    display: none;
  }
}
