@mixin box-shadow($color) {
  box-shadow: inset -1px -3px 0px $color;
  background: var(--white);
}

.button {
  width: 12vh;
  height: 4vh;

  font-weight: bold;

  border: 2px solid var(--darkest-grey);
  border-radius: 12px;

  &--disabled {
    border: 2px solid var(--base-grey);
    box-shadow: none !important;
  }

  &:hover {
    cursor: pointer;
  }

  transition: all 0.2s ease-in-out;
}

.button.player {
  @include box-shadow(var(--player-primary));
}

.button.enemy1 {
  @include box-shadow(var(--enemy1-primary));
}

.button.enemy2 {
  @include box-shadow(var(--enemy2-primary));
}

.button.enemy3 {
  @include box-shadow(var(--enemy3-primary));
}
