@use "/src/styles/colors.scss";

@mixin box-shadow($color) {
  box-shadow: inset -1px -3px 0px $color;
  background: #ffffff; // override
}

.button {
  width: 12vh;
  height: 4vh;

  font-weight: bold;

  border: 2px solid colors.$darkest-grey;
  border-radius: 12px;

  &--disabled {
    border: 2px solid colors.$base-grey;
    box-shadow: none !important;
  }

  &:hover {
    cursor: pointer;
  }

  transition: all 0.2s ease-in-out;
}

.button.player {
  @include box-shadow(colors.$player-primary);
}

.button.enemy1 {
  @include box-shadow(colors.$enemy1-primary);
}

.button.enemy2 {
  @include box-shadow(colors.$enemy2-primary);
}

.button.enemy3 {
  @include box-shadow(colors.$enemy3-primary);
}
