@use "/src/styles/colors.scss";

$ITEM_SIZE: 42px;
$CONTENT_SIZE: 22px;

.line-item {
  position: relative; // to .timeline__section__line
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: $ITEM_SIZE;
  height: $ITEM_SIZE;
  border-radius: 50%;
  background-color: colors.$white;

  &--pending {
    border: 2px dotted colors.$darkest-grey;
  }

  &--commited {
    border: 2px solid colors.$darkest-grey;
  }

  &__content {
    width: $CONTENT_SIZE;
    height: $CONTENT_SIZE;
    border-radius: 50%;

    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

    &--player {
      background-color: colors.$player-primary;
    }

    &--enemy1 {
      background-color: colors.$enemy1-primary;
    }

    &--enemy2 {
      background-color: colors.$enemy2-primary;
    }

    &--enemy3 {
      background-color: colors.$enemy3-primary;
    }
  }
}

.line-item.expansible:hover {
  .line-item__content {
    width: 100%;
    height: 100%;
  }
}

@keyframes border-solid {
  0% {
    border-style: dotted;
  }
  100% {
    border-style: solid;
  }
}
