@use "/src/styles/fonts.scss";

.timeline {
  height: 13vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; // single line

  &__next {
    flex: 1;
    background-color: var(--base-grey);
  }

  &__future {
    flex: 1;
    background-color: var(--dark-grey);
  }

  &__section {
    position: relative;
    display: flex;
    padding: 0 20px;
    border-radius: 0px 0px 12px 12px;

    &:hover {
      .timeline__section__name {
        opacity: 0.4;
        transition: opacity 0.5s ease-in-out;
      }
    }

    &__name {
      position: absolute; // relative to timeline__section
      top: 18px;
      left: 12px;
      opacity: 0;
      @include fonts.heading();
    }

    &__line {
      width: 100%;
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-around;

      // black line
      &::before {
        content: "";
        height: 0px;
        width: 100%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        border-top: 2px solid var(--darkest-grey);
      }
    }
  }
}
