.playerCard {
  display: flex;
  flex-direction: row;
  isolation: isolate;

  width: calc(var(--pc-h) * 2.5);
  height: var(--pc-h);
  padding: calc(var(--pc-h) * 0.125);
  background: var(--white);

  border: 2px solid var(--light-grey);
  box-shadow: 0 0 4px var(--shadow-grey);
  border-radius: 6px;

  cursor: crosshair; /* + */
}

.playerCard.active {
  z-index: 5 !important; /* FIXME */

  transform: translateX(calc(var(--pc-h) * 0.25));

  &.player {
    border: 2px solid var(--player-primary);
    box-shadow: 0 0 4px var(--player-secondary);
  }

  &.enemy1 {
    border: 2px solid var(--enemy1-primary);
    box-shadow: 0 0 4px var(--enemy1-secondary);
  }

  &.enemy2 {
    border: 2px solid var(--enemy2-primary);
    box-shadow: 0 0 4px var(--enemy2-secondary);
  }

  &.enemy3 {
    border: 2px solid var(--enemy3-primary);
    box-shadow: 0 0 4px var(--enemy3-secondary);
  }
}

.playerCard.clickable {
  cursor: pointer;
}

.playerPoints {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.points {
  font-size: calc(var(--pc-h) * 0.33);
  font-weight: bold;
  color: var(--darkest-grey);
}

.extraPoints {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--lightest-grey);
}
