@use '../../styles/colors.scss';
// @use 'styles/colors.scss';

$size: 80px;

.round-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-summary {
  width: $size;
  height: $size;

  margin-bottom: 20px;
  border-radius: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #555;

  &--clickable {
    cursor: pointer;
  }

  &--player {
    background-image: url('./assets/player.png');

    &--active {
      outline: 3px solid colors.$player-highlight;
    }
  }

  &--enemy1 {
    background-image: url('./assets/enemy-1.png');

    &--active {
      outline: 3px solid colors.$enemy1-highlight;
    }
  }

  &--enemy2 {
    background-image: url('./assets/enemy-2.png');

    &--active {
      outline: 3px solid colors.$enemy2-highlight;
    }
  }

  &--enemy3 {
    background-image: url('./assets/enemy-3.png');

    &--active {
      outline: 3px solid colors.$enemy3-highlight;
    }
  }
}
