#root {
  background-color: var(--white);

  .game {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "current-phase timeline timeline"
      "current-phase board marketplace"
      "current-phase player-hand player-hand";
  }

  .current-phase {
    grid-area: current-phase;
  }

  .timeline {
    grid-area: timeline;
  }

  .board-container {
    grid-area: board;
    display: flex;
    justify-content: center;
  }

  .marketplace {
    grid-area: marketplace;
  }

  .player-hand {
    grid-area: player-hand;
  }
}

.clickable,
.expansible {
  cursor: pointer;
}

.ignore-clicks {
  pointer-events: none;
}

.player {
  background-color: var(--player-secondary);
}

.enemy1 {
  background-color: var(--enemy1-secondary);
}

.enemy2 {
  background-color: var(--enemy2-secondary);
}

.enemy3 {
  background-color: var(--enemy3-secondary);
}
